<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Transação</th>
        <th scope="col">Valor</th>
        <th scope="col">ID do Cliente</th>
        <th scope="col">Cliente</th>
        <th scope="col">E-mail</th>
        <th scope="col">Número do Pedido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of relacionamentos">
        <th scope="row">{{r.transacao}}</th>
        <td>{{r.valor}}</td>
        <td>{{r.cliente}}</td>
        <td>{{r.nome}}</td>
        <td>{{r.email}}</td>
        <td>{{r.pedido}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- {
  "id":1,
  "transacao":3000,
  "valor":300.33,
  "cliente":1,
  "nome":"CLIENTE AMEX",
  "email":"cliente1@techstage.io",
  "pedido":1
} -->